 body {
    font-family: Arial, sans-serif;
    background-color: #f8f8ff;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 14px;
  }
    
    
  
  .container {
    background: #fff;
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  button {
    padding: 10px 16px;
    background-color: #4b0082;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
  }
  
  button:hover {
    background-color: #5e0fa3;
  }
  
  .todo-grid, .input-todo-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 14px;
  }

  .input-todo-grid{
    margin-bottom: 10px;
  }
  
  .js-todo-list button {
    background-color: #ff4747;
    color: rgb(252, 247, 247);
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .js-todo-list button:hover {
    background-color: #e13e3e;
  }
  