/*Imported from google font*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    /*Light theme color*/
    --color-text-primary: #1f2936;
    --color-text-placeholder: #798eae;
    --color-bg-primary:#f9fafb;
    --color-bg-secondary:#ececfd;
    --color-bg-sidebar:#ffffff;
    --color-border-hr:#e2e8f0;
    --color-hover-primary: #695cfe;
    --color-hover-secondary:#e2e2fb;
    --color-shadow:rgba(0,0,0,0.05);  
}

body{
    background: var(--color-bg-primary);
}

.sidebar{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 270px;
    background: var(--color-bg-sidebar);
    border-right: 1px solid var(--color-border-hr);
    box-shadow: 0 3px 9px var(--color-shadow);
}

.sidebar .sidebar-header{
    display: flex;
    padding: 20px 18px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border-hr);
}

.sidebar-header .header-logo{
    width: 46px;
    height: 46px;
    object-fit: cover;
    display: block;
    border-radius: 50px;
}

.sidebar-header .sidebar-toggle{
    height: 40px;
    width:40px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
    background: var(--color-bg-secondary);
}

.sidebar-header .sidebar-toggle:hover{
    background: var(--color-hover-secondary);
}

.sidebar-header .sidebar-toggle span {
    font-size: 2rem;
}

.sidebar .sidebar-content{
    padding: 20px 18px;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-placeholder);
}

.sidebar-content .search-form{
    background: var(--color-bg-secondary);
    min-height: 48px;
    border-radius: 8px;
    padding: 0 15px;
    display: flex;
    margin: 5px 0 20px;
    align-items: center;
    white-space: nowrap;
    transition: .4s ease;
}

.search-form input{
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    margin-left: 15px;
    color: var(--color-text-primary);

}

.sidebar-content .search-form:focus-within{
    background: var(--color-hover-secondary);

}

.search-form span{
    color: var(--color-text-placeholder);
}

.search-form input::placeholder{
    color: var(--color-text-placeholder);
}

.sidebar-content .menu-list{
    display: flex;
    gap: 4px;
    flex-direction: column;
    list-style: none;
}

.menu-list .menu-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    padding: 12px 15px;
    border-radius: 8px;
    color: var(--color-text-primary);
    background: var(--color-hover-primary);
}